.head{
    text-align: center;
    padding: 1em;
    margin: 1em;
    background-color: silver;
    border: 2px solid black;
}
fieldset,article{
    border: 2px solid black;
    margin: 1em;
    background-color: gainsboro;
    padding: 1em;

}
legend {
    background-color: thistle;
    border: 2px solid black;
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-size: 1.5em;
}
table{
    border:1px solid black;
    padding: 10px;
}
td{
    width:100px;
}

p {
    margin: 0.5em;
}
a {
    text-decoration: none;
}
a:link {
    color: black;
}
a:visited {
    color: purple;
}
a:hover {
    color: blue;
    text-decoration: underline;
}
a:active {
    color: red;
}

