<!DOCTYPE html>
<html>
<head lang="en">
    <link type="text/css" href="../css/style.css" rel="stylesheet"/>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <article>
        <h3>一。语法</h3>
        <p>ECMAScript中的一切都区分大小写</p>
        <p> 第一个字符必须是一个字母、下划线（_）或一个美元符号（$）；</p>
        <p> 其他字符可以是字母、下划线、美元符号或数字&nbsp;<strong>但是开发中，推荐只使用字母开头</strong></p>
        <p>标识符的推荐格式：    userName; classId</p>
        <p>注释,由于使用/*  */ 注释特殊情况会引发不必要的问题,所以都采用//注释</p>
        <p>语句结尾都要加上；<strong>推荐</strong></p>
        <p>使用代码块，让代码更有条理，尤其是在控制语句中{&nbsp;}<strong>推荐</strong></p>

            <h4>严格模式</h4>
            ECMAScript 5 引入了严格模式（strict mode）的概念。严格模式是为JavaScript 定义了一种不同的
            解析与执行模型。在严格模式下，ECMAScript 3 中的一些不确定的行为将得到处理，而且对某些不安全
            的操作也会抛出错误。要在整个脚本中启用严格模式，可以在顶部添加如下代码：
            "use strict";
            这行代码看起来像是字符串，而且也没有赋值给任何变量，但其实它是一个编译指示（pragma），
            用于告诉支持的JavaScript 引擎切换到严格模式。这是为不破坏ECMAScript 3 语法而特意选定的语法。
            在函数内部的上方包含这条编译指示，也可以指定函数在严格模式下执行：
            function doSomething(){
            "use strict";
            //函数体
            }
            严格模式下，JavaScript 的执行结果会有很大不同，因此本书将会随时指出严格模式下的区别。支
            持严格模式的浏览器包括IE10+、Firefox 4+、Safari 5.1+、Opera 12+和Chrome。
        <h4>ECMA-262关键字</h4>
        <table>
            <tr>
                <td>break</td><td>do</td><td>instanceof</td><td>typeof</td>
            </tr>
            <tr>
                <td>case</td><td>else</td><td>new</td><td>var</td>
            </tr>
            <tr>
                <td>catch</td><td>finally</td><td>return</td><td>void</td>
            </tr>
            <tr>
                <td>continue</td><td>for</td><td>switch</td><td>while</td>
            </tr>
            <tr>
                <td>debugger</td><td>function</td><td>this</td><td>with</td>
            </tr>
            <tr>
                <td>default</td><td>if</td><td>throw</td>
            </tr>
            <tr>
                <td>delete</td><td>in</td><td>try</td>
            </tr>
        </table>

        <h4>ECMA-262保留字</h4>
        略。
        <h4>变量</h4>
            <p>ECMAScript中的变量是松散类型的。定义变量使用var操作符。</p>
            <p>var msg;  //未初始化的变量会保存一个特殊值，undefined</p>
        <h4>数据类型</h4>
            <p>ECMAScript中共有5种基本数据类型：Undefined、Null、Boolean、Number
                和String。1种复杂数据类型：Object。ECMAScript不支持任何自定义类型</p>
        <h4>typeof操作符</h4>
        <p>  "undefined"——如果这个值未定义；</p>
        <p>  "boolean"——如果这个值是布尔值；</p>
        <p>  "string"——如果这个值是字符串；</p>
        <p>  "number"——如果这个值是数值；</p>
        <p>  "object"——如果这个值是对象或null；</p>
        <p>  "function"——如果这个值是函数。</p>
    </article>
</body>
</html>