<!DOCTYPE html>
<html>
<head lang="en">
    <link type="text/css" href="../css/style.css" rel="stylesheet" />
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <article>
        <p><strong>变量</strong>: 基本类型和引用类型</p>
        <p>5 种基本数据类型(Number ,String ,Boolean , Null, Undefined )是按值访问的，因为可以操作保存在变量中的实际的值。
                引用类型的值是保存在内存中的对象。与其他语言不同，JavaScript 不允许直接访问内存中的位置，
                也就是说不能直接操作对象的内存空间。在操作对象时，实际上是在操作对象的引用而不是实际的对象。
                为此，引用类型的值是按引用访问的。当复制保存着对象的某个变量时，操作的是对象的引用。但在为对象添加属性时，操作的是实际
                的对象,只能给引用类型值动态地添加属性.</p>
        <p><strong>复制基本变量值</strong>复制基本类型值，会创建一个新的对象值，两个变量互不影响。</p>
        <p><strong>复制引用变量值</strong>复制引用变量值，也会开辟一个新的空间存储值，但两个内存空间实际是是指针，儿两者同时指向
            堆内存的同一个对象。</p>
        <p><b>参数传递只进行值传递。被传递的值会赋值给arguments对象中的一个元素，而不改变原有的值。</b></p>
        <p>function addTen(num) {</p>
        <p>   num += 10;</p>
        <p>   return num;</p>
        <p>   }</p>
        <p>   var count = 20;</p>
        <p>   var result = addTen(count);</p>
        <p>  alert(count); //20，没有变化</p>
        <p>  alert(result); //30</p>
        <h4>检测类型的2种方式</h4>
        <p>typeof是检测5种基本类型的最佳工具。而检测具体的对象类型，使用instanceof.使用typeof 操作符检测函数时，该操作符会返回"function"。在Safari 5 及
            之前版本和Chrome 7 及之前版本中使用typeof 检测正则表达式时，由于规范的原
            因，这个操作符也返回"function"。ECMA-262 规定任何在内部实现[[Call]]方法
            的对象都应该在应用typeof 操作符时返回"function"。由于上述浏览器中的正则
            表达式也实现了这个方法，因此对正则表达式应用typeof 会返回"function"。在
            IE 和Firefox 中，对正则表达式应用typeof 会返回"object"。</p>
        <p>result = variable instanceof constructor</p>
        <p><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects">javascript的标准内置对象</a>
        可以看到，javascript包含多种标准内置对象，而在国内搜索大都不太准确，所以学好javascript还是要多google一下，英文水平也比较重要。</p>
        <p>javascript中没有块级作用于，if和for语句在使用时，{ }内的变量仍存在于执行环境中。</p>
        <p>
            for (var i=0; i < 10; i++){</p>
        <p>  doSomething(i);</p>
        <p>  }</p>
        <p>  alert(i); //10
        </p>
        <p> 基本类型值在内存中占据固定大小的空间，因此被保存在栈内存中；</p>
        <p> 从一个变量向另一个变量复制基本类型的值，会创建这个值的一个副本；</p>
        <p>  引用类型的值是对象，保存在堆内存中；</p>
        <p> 包含引用类型值的变量实际上包含的并不是对象本身，而是一个指向该对象的指针；</p>
        <p> 从一个变量向另一个变量复制引用类型的值，复制的其实是指针，因此两个变量最终都指向同
        一个对象；</p>
        <p> 确定一个值是哪种基本类型可以使用typeof 操作符，而确定一个值是哪种引用类型可以使用
        instanceof 操作符。
        所有变量（包括基本类型和引用类型）都存在于一个执行环境（也称为作用域）当中，这个执
        行环境决定了变量的生命周期，以及哪一部分代码可以访问其中的变量。以下是关于执行环境的几
        点总结：</p>
        <p> 执行环境有全局执行环境（也称为全局环境）和函数执行环境之分；</p>
        <p> 每次进入一个新执行环境，都会创建一个用于搜索变量和函数的作用域链；</p>
        <p> 函数的局部环境不仅有权访问函数作用域中的变量，而且有权访问其包含（父）环境，乃至全
        局环境；</p>
        <p>  全局环境只能访问在全局环境中定义的变量和函数，而不能直接访问局部环境中的任何数据；</p>
        <p> 变量的执行环境有助于确定应该何时释放内存。
        JavaScript 是一门具有自动垃圾收集机制的编程语言，开发人员不必关心内存分配和回收问题。可
        以对JavaScript 的垃圾收集例程作如下总结。</p>
        <p> 离开作用域的值将被自动标记为可以回收，因此将在垃圾收集期间被删除。</p>
        <p> “标记清除”是目前主流的垃圾收集算法，这种算法的思想是给当前不使用的值加上标记，然
        后再回收其内存。</p>
        <p> 另一种垃圾收集算法是“引用计数”，这种算法的思想是跟踪记录所有值被引用的次数。JavaScript
        引擎目前都不再使用这种算法；但在IE 中访问非原生JavaScript 对象（如DOM 元素）时，这种
        算法仍然可能会导致问题。</p>
        <p> 当代码中存在循环引用现象时，“引用计数”算法就会导致问题。</p>
        <p> 解除变量的引用不仅有助于消除循环引用现象，而且对垃圾收集也有好处。为了确保有效地回
        收内存，应该及时解除不再使用的全局对象、全局对象属性以及循环引用变量的引用。</p>
        <h4>引用类型</h4>
        <p>最多的引用类型是Object对象的实例</p>
        <p>var person = new Object();</p>
        <p>   person.name = "Nicholas";</p>
        <p>   person.age = 29;</p>
        <p>我更喜欢对象字面量的表示方法，看起来更有条理</p>
        <p>var person = {</p>
        <p>name : "Nicholas",</p>
        <p>age : 29</p>
        <p>};</p>
        <p>对象字面量也是传递大量参数的首选方式</p>
        <p>var data = {</p>
        <p>   name : "xiaoming",</p>
        <p>   age : 20,</p>
        <p>   id : 10</p>
        <p>};</p>
        <p>sendData(data);</p>
        <p><strong>访问对象属性。.表示法与[]表示法的区别</strong></p>
        <p>首选.表示法。</p>
        <p>通过变量访问对象的属性时 ，用[]表示法。</p>
        <p>属性名中包含标识符的非法字符或关键字保留字时，用[]表示法。</p>
        <h4>javascript中的数组</h4>
        <p>javascript中的数组区别于其他语言。数组的每一项可以保存任何类型的数据，而不用类似java的泛型。而且数组的
        大小事动态调整的，随着数据的增长而自动增长。</p>
        <p>创建数组的两种方式</p>
        <p><strong>Array构造器创建</strong>（可以省略new操作符）</p>
        <p>var colors = new Array();</p>
        <p>var colors = new Array(20);</p>
        <p>var colors = new Array("red", "blue", "green");</p>
        <p><strong>数组字面量创建（不推荐）</strong></p>
        <p>var colors = ["red", "blue", "green"]; // 创建一个包含3 个字符串的数组</p>
        <p>var names = []; // 创建一个空数组</p>
        <p>数组的</p>
    </article>
</body>
</html>