<!DOCTYPE html>
<html>
<head lang="en">
    <link type="text/css" href="../css/style.css" rel="stylesheet" />
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <article>
        <h3>Javascript的诞生</h3>
            Javascript诞生于1995年。在JavaScript 问世之前，必须把表单数据发送到服务器端才能确定用户是否
        没有填写某个必填域，是否输入了无效的值。Netscape Navigator希望通过开发Javascript来解决这个问题。
        当时就职于Netscape 公司的布兰登·艾奇（Brendan Eich），仅用了10天就设计了这门解释性语言。
        <h3>Javascript的实现及标准</h3>
           <p> 一个完整的JavaScript 实现应该由下列三个不同的部分组成：</p>
           <p>核心：ECMAScript</p>
           <p>文档对象模型：DOM</p>
           <p>浏览器对象模型：BOM</p>
        <div style="width: 400px; height: 100px;text-align:center;margin:10px auto; border: 2px solid black;">
            <span style="display: block">Javascript</span>
            <div style="width: 100px; height: 50px; border: 2px solid black; float: left; margin-left: 40px">ECMAScript</div>
            <div style="width: 100px; height: 50px; border: 2px solid black; float: left">DOM</div>
            <div style="width: 100px; height: 50px; border: 2px solid black; float: left">BOM</div>
        </div>
        <h3>ECMAScript的兼容</h3>
        <p>ECMA-262 给出了ECMAScript 兼容的定义。要想成为ECMAScript 的实现，则该实现必须做到：</p>
        <p> 支持ECMA-262 描述的所有“类型、值、对象、属性、函数以及程序句法和语义”（ECMA-262
        第1 页）；</p>
        <p> 支持Unicode 字符标准。
        此外，兼容的实现还可以进行下列扩展。</p>
        <p> 添加ECMA-262 没有描述的“更多类型、值、对象、属性和函数”。ECMA-262 所说的这些新增
        特性，主要是指该标准中没有规定的新对象和对象的新属性。</p>
        <p>  支持ECMA-262 没有定义的“程序和正则表达式语法”。（也就是说，可以修改和扩展内置的正
        则表达式语法。）</p>
        <h3>文档对象模型</h3>
        <p> 文档对象模型（DOM，Document Object Model）是针对XML 但经过扩展用于HTML 的应用程序编
            程接口（API，Application Programming Interface）。</p>
    </article>
</body>
</html>