<!DOCTYPE html>
<html>
<head lang="en">
    <link type="text/css" href="../css/style.css" rel="stylesheet"/>
    <meta charset="UTF-8">
    <script src="../js/libs/three.js"></script>
    <title></title>
</head>

<body >
       <h1>所有例子使用three.js r60版本</h1>
       <div id="createScene" class="canvas"></div>
       <div class="canvas" id="cloneScene"></div>
       <div class="canvas"></div>
       <div class="canvas"></div>
        <p>创建3d场景</p><p>克隆3d场景</p><p></p><p></p>
       <div class="canvas"></div>
       <div class="canvas"></div>
       <div class="canvas"></div>
       <div class="canvas"></div>
       <div class="canvas"></div>
       <div class="canvas"></div>
       <div class="canvas"></div>
       <div class="canvas"></div>

       <script type="text/javascript">
           var createScene = {
               scene : null,
               render : null,
               camera : null,
               id : 'createScene',
               init :  function(){
                   //创建场景
                   this.scene = new THREE.Scene();
                   //创建相机
                   this.camera = new THREE.PerspectiveCamera(
                           45,300 / 250,0.1,1000
                   );
                   //创建渲染
                   this.render = new THREE.WebGLRenderer();
                   //设置渲染颜色
                   this.render.setClearColorHex(0xEEEEEE);
                   //createScene.render.setSize(window.innerWidth,window.innerHeight);

                   //参考系
                   var axes = new THREE.AxisHelper(20);
                   //参考系放到场景中
                   this.scene.add(axes);
                   //创建平面物体
                   var planeGeometry = new THREE.PlaneGeometry(20,8,1,1);
                   //创建材质
                   var planeMaterial = new THREE.MeshBasicMaterial({
                       color: 0xCCCCCC
                   });
                   //添加属性到平面
                   var plane = new THREE.Mesh(planeGeometry,planeMaterial);
                   //设置平面旋转角度,平面位置
                   plane.rotation.x = -0.5*Math.PI;
                   plane.position.set(0,0,0);
                   //添加到场景中
                   this.scene.add(plane);
                   //设置相机位置
                   this.camera.position.set(-10,15,10);
                   this.camera.lookAt(this.scene.position);

                   document.getElementById(this.id).appendChild(this.render.domElement);
                   this.render.render(this.scene,this.camera);
               }

           }

           var cloneScene = createScene;
           cloneScene.id = 'cloneScene';
        window.onload = init();
           function init(){
               createScene.init();
               cloneScene.init();
           }

           //window.onload = init;
       </script>
</body>
</html>