<!DOCTYPE html>
<html>
<head lang="en">
    <link type="text/css" href="../css/style.css" rel="stylesheet"/>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
       <h1>所有例子使用three.js r60版本</h1>
       <canvas title="创建3d场景"></canvas>
       <canvas></canvas>
       <canvas></canvas>
       <canvas></canvas>
       <canvas></canvas>
       <canvas></canvas>
       <canvas></canvas>
       <canvas></canvas>
       <canvas></canvas>
       <canvas></canvas>
       <canvas></canvas>
       <canvas></canvas>
</body>
</html>