@import url('http://at.alicdn.com/t/font_529530_bhpogt4n0ea.css');

@font-face {
  font-family: 'iconfont';  /* project id 529530 */
  src: url('//at.alicdn.com/t/font_529530_bhpogt4n0ea.eot');
  src: url('//at.alicdn.com/t/font_529530_bhpogt4n0ea.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_529530_bhpogt4n0ea.woff') format('woff'),
  url('//at.alicdn.com/t/font_529530_bhpogt4n0ea.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_529530_bhpogt4n0ea.svg#iconfont') format('svg');
}